APP_NAME=Shilla
APP_ENV=local
APP_DEBUG=true
ENCRYPTION_KEY=
APP_URL=http://localhost:8001

DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=shilla
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database

PUBSUB_DRIVER=pgsql
PUBSUB_PREFIX=shilla_
PUBSUB_PGSQL_HOST=127.0.0.1
PUBSUB_PGSQL_PORT=5432
PUBSUB_PGSQL_USER=
PUBSUB_PGSQL_PASSWORD=
PUBSUB_PGSQL_DATABASE=shilla

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM_ADDRESS=noreply@shilla.org
MAIL_FROM_NAME=Shilla

ADMIN_EMAIL=
ADMIN_PASSWORD=

SOCIAL_DISCORD_CLIENT_ID=
SOCIAL_DISCORD_CLIENT_SECRET=
SOCIAL_DISCORD_REDIRECT_URI=http://localhost:8001/auth/discord/callback

SOCIAL_GOOGLE_CLIENT_ID=
SOCIAL_GOOGLE_CLIENT_SECRET=
SOCIAL_GOOGLE_REDIRECT_URI=http://localhost:8001/auth/google/callback

SOCIAL_GITHUB_CLIENT_ID=
SOCIAL_GITHUB_CLIENT_SECRET=
SOCIAL_GITHUB_REDIRECT_URI=http://localhost:8001/auth/github/callback
